<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link type="text/css" rel="stylesheet" href="/styles/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="search-container">
            <img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo">
            <div class="search-bar">
                <input class="barra" placeholder="Busca productos,marcas ">
                <button class="btn"> <i class="fa-solid fa-magnifying-glass"></i> </button>
                <p class="text-center"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de credito</p>
            </div>
            
        </div>
        <div><div class="div-btn"></div>
        <nav>
            <ul class="list-stylelesss">
                <li><a href="/">Home</a> </li>
                <li><a href="/ofertas">Ofertas</a> </li>
                <li><a href="/tienda">Tienda</a> </li>
                <li><a href="/vender">Vender</a> </li>
                <li><a href="/ayuda">Ayuda</a> </li>


            </ul>
            <ul class="list-styleless">
                <li><a href="/singup">Crea tu cuenta <i class="fa-solid fa-id-card"></i></a> </li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a> </li>
                <li><a href="/carrito">Mis compras <i class="fa-solid fa-basket-shopping"></i></a> </li>


            </ul>

        </nav>
        <div class="menu-btn"> <button class="btn-btn-blue"> <i class="fa-solid fa-bars"></i></button></div>
        <div>
            <img  class="banner" src="img/img-home-banner.jpg" width="100" >
        </div>


        <div>
            <a target="_blank" href="https://www.x.com"><i class="fa-brands fa-square-twitter"></i></a>
            <a target="_blank" href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
            <a target="_blank" href="https://www.spotify.com"><i class="fa-brands fa-spotify"></i></a>
            <a target="_blank" href="https://www.apple.com"><i class="fa-brands fa-apple"></i></a>
            <a target="_blank" href="https://www.amazon.com"><i class="fa-brands fa-amazon"></i></a>
            <a target="_blank" href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </header>
    <main>
        
        <section class="background-color">
            <div class="titulo">
                <h3 class="text-title"> <b>Basado en tu última vista</b></h3>
            </div>
            <div class="articulos">
                <div class="flex-center"> 
                <img class="img" src="/img/img-cafetera-moulinex.jpg" width="380" height="500">
                </div>
                <div class="btn-deliveries"><i class="fa-solid fa-truck"></i></div>
                <div class="textos"> 
                    <p class="text-price"> $6.770 </p>
                    <p class="text-discount"> 40% OFF</p>
                    <p class="text-description"><b>Cafetera Moulinex</b></p>
                </div>
                
            </div>
            <div class="articulos">
                <div class="flex-center">
                    <img class="img" src="/img/img-macbook-pro-2019.jpg" width="380" height="500" >
                </div>
                
                <div class="textos">
                    <div class="btn-deliveries"><i class="fa-solid fa-truck"></i></div>
                    <p class="text-price">$230.000</p>
                    <p class="text-discount">20% off </p>
                    <p class="text-description"><b>MacBook Pro 2019</b> </p>
                </div>

            </div>
            <div class="articulos">
                <div class="flex-center"> 
                    <img class="img" src="/img/img-samsung-galaxy-s10.jpg" width="380" height="500">
                </div>
                
                <div class="textos">
                    <div class="btn-deliveries"><i class="fa-solid fa-truck"></i></div>
                    <p class="text-price"> $70.500 </p>
                    <p class="text-discount">10% of</p>
                    <p class="text-description"> <b>Samsung Galaxy S10</b></p> 
                </div>
                
            </div>
            <div class="articulos">
                <div class="flex-center">
                    <img class="img" src="/img/img-tv-samsung-smart.jpg" width="380" height="500">
                </div>
                <div class="btn-deliveries"><i class="fa-solid fa-truck"></i></div>
                <div class="textos">
                <p class="text-price" > $23.200</p>
                <p class="text-discount">5% of</p>
                <p class="text-description"><b>SmartTv Samsung 43"</b></p>
            </div>
        </section>
        <div class="titulo">
            <h3 class="text-title"> <b>SECCION OFERTAS!</b></h3>
        </div>
        <section class="background-color">
            
            <div class="articulos">
                <div class="flex-center"> 
                <img class="img" src="/img/img-cafetera-moulinex.jpg" width="380" height="500">
                </div>
                <i class="fa-solid fa-truck"></i>
                <div class="textos">
                    <p class="text-price"> $6.770 </p>
                    <p class="text-discount"> 40% OFF</p>
                    <p class="text-description"><b>Cafetera Moulinex</b></p>
                </div>
                
            </div>
            <div class="articulos">
                <div class="flex-center">
                    <img class="img" src="/img/img-macbook-pro-2019.jpg" width="380" height="500" >
                </div>
                <div class="btn-deliveries"><i class="fa-solid fa-truck"></i></div>
                <div>
                    <p class="text-price">$230.000</p>
                    <p class="text-discount">20% off </p>
                    <p class="text-description"><b>MacBook Pro 2019</b> </p>
                </div>

            </div>
            <div class="articulos">
                <div class="flex-center"> 
                    <img class="img" src="/img/img-samsung-galaxy-s10.jpg" width="380" height="500">
                </div>
                <div class="btn-deliveries"><i class="fa-solid fa-truck"></i></div>
                <div class="textos">
                    <p class="text-price"> $70.500 </p>
                    <p class="text-discount">10% of</p>
                    <p class="text-description"> <b>Samsung Galaxy S10</b></p> 
                </div>
                
            </div>
            <div class="articulos">
                <div class="flex-center">
                    <img class="img" src="/img/img-tv-samsung-smart.jpg" width="380" height="500">
                </div>
                <div class="btn-deliveries"><i class="fa-solid fa-truck"></i></div>
                <div class="textos">
                <p class="text-price" > $23.200</p>
                <p class="text-discount">5% of</p>
                <p class="text-description"><b>SmartTv Samsung 43"</b></p>
            </div>
    </main>
    <footer class="site-footer">
        <div> 
            <div class="icon-blue">
                <i class="fa-solid fa-credit-card"></i>
            </div>
            <h3>
                <b>Pagá con tarjeta o en efectivo</b>
            </h3>
            <P>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</P>
        </div>
        <div>
            <div class="icon-blue">
                <i class="fa-solid fa-gift"></i>
            </div>
            <h3>
                <b>Envío gratis desde $ 2.500</b>
            </h3>
            <P>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </P>
        </div>
        <div>
            <div class="icon-blue">
                <i class="fa-solid fa-user-shield"></i>
            </div>
            <h3><b>Seguridad, de principio a fin</b></h3>
            <P>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</P>
        </div>
        <div>
            <h3><b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b></h3>
        </div>
    </footer>
</body>

</html>