main{
    text-align: center;
    width: 90%;
    margin: 15px;
    padding:  10px;
    border: solid 1px #ebebeb;
    
}
body {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    background-color: #EAC926;
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    text-align: center;

}
footer{
    height: 200vw;
    width: 50.4vh;
}

a {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
.text-title {
    font-size: 24px;
}



.search-container {
    display: flex;
    text-align: left;
    padding: 3%;

    .logo {
        height: 34px;

    }

    .search-bar {
        padding-top: 10px;
        width: 50%;
        }
}
.barra{
    display: block;
    width:100%;
}
.btn{
    display: flex;
    position: relative;
    top: -22%;
    left: 50%;
    width: 20%;
}
.search-bar input {
    font-size: 10px;
    width: 50%;
}
.btn {
    background-color: white;
    padding: 2px;
    border-radius: 2px;

}
.btn-blue{
    background-color: #1259c3!important ;
    color: blue;
    padding: 10px;
    border-radius: 6px;
    font-size: 24px;
    display: flex;
    align-items: center;
}


.text-center {
    text-align: center;
    
}

.list-styleless {
    list-style-type: none;
    text-decoration: none;
    padding: 0px;
    text-align: left;
    display: flex;
    justify-content: space-between
    

}
.list-stylelesss{
    list-style-type: none;
    text-decoration: none;
    padding: 0px;
    text-align: left;
    display: flex;
    justify-content: space-between
    
}
.flex-center{
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    display:flex;
    width: 100%;
    
}
.site-footer{
    background-color: white;
    text-align: center;
}
.icon-blue{
    font-size: 30px;
    padding:30px;
    padding-bottom: 0px;
    color: #1259c3 !important;
    
}
.articulos i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    right: 20px;
    top: -15px;
}
.articulos{
    text-align: left !important;
    background-color: white;
    font-size: 16px;
    
    
}
.background-color{
    background-color:#B3B6B7 ;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;


}
.img{
    height: 80%;
    width: 80%;
    border-bottom-style: groove;

}
.textos{
    width: 100%;
    display: flex;
    position: absolute;
}
.text-discount {
    font-size: 16px;
    color: green;
    width: 50%;
    position: absolute;
}  

.text-description {
    font-size: 16px;
    color:#B3B6B7;
    position: absolute;
    width: 50%;
}

.text-price {
    font-size: 18px;
    position: absolute;
    
}
.banner{
    width: 100%;
}
.menu-btn{
    color: blue;
}

@media (max-width:767px) {
    .background-color{
        justify-content: space-between;
    }
    .articulos{
        width: 100%!important;
        padding-bottom: 70px;
    }
    .text-discount {
        font-size: 15px;
        color: green;
        width: 50%;
        position: absolute;
        margin-top: -5%;
        margin-left: 30%;
    }  
    
    .text-description {
        font-size: 16px;
        color:#B3B6B7;
        position: absolute;
        width: 50%;
        margin-left: 25%;
    }
    
    .text-price {
        font-size: 18px;
        position: relative;
        margin-top: -15%;
        margin-left: 3%;
}
.img{
    width: 60%;
    margin-top:1px;
    padding-bottom: 15px;
}
.btn-deliveries{
    margin-top: -15%;
    margin-left: 60%;
    }
    .list-styleless {
        display: none;
    }
    .text-center {
        text-align: center;
        left: -35%;
        position: relative;
    }
    .list-styleless{
        width: 48%;
        
    }
}